[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
C            = {{ csr_country }}
ST           = {{ csr_state }}
L            = {{ csr_city }}
O            = {{ csr_org }}
CN           = {{ csr_cn }}

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = {{ svc_domain }}
