authorityKeyIdentifier=keyid,issuer
subjectKeyIdentifier    = hash
basicConstraints        = CA:FALSE
keyUsage                = digitalSignature
extendedKeyUsage        = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ svc_domain }}
