[Interface]
PrivateKey = {{ wireguard_private }}
Address = {{ wireguard_ip }}/24
ListenPort = {{ wg_port }}

{% for client in wg_clients %}

[Peer]
PublicKey = {{ client.public_key }}
PresharedKey = {{ wireguard_preshared_key }}
AllowedIPs = {{ client.address }}
{% endfor %}
