#!/bin/bash

# User account that should be configured for accessing the server
# environments through SSH. This will be utilized as part of the
# server setup process. This will also be utilized for purposes
# of setting up development tools such as vscode web.
export USER_ACCOUNT={{ user }}

# Installation location for the docker services. This will be the
# location that will be utilized for initiating the build and
# launching of the docker containers.
export INSTALL_DIR="{{ root_install_dir }}"

# Corresponds to the primary location in which data should be stored
# within the server environment. Each of the services could retain
# a separate sub-directory underneath this location.
export DATA_DIR="{{ data_dir }}"
export MEDIA_DIR="{{ data_dir }}"

# Corresponds to the domain that should be leveraged for accessing the Nextcloud
# service. This domain will be configured within Apache. The TLS certificate
# will also need to be issued for this domain for HTTPS to be functional.
export NEXTCLOUD_DOMAIN="{{ svc_domain }}"
export NEXTCLOUD_TLS_CERT_LOCATION="{{ tls_certs_dir }}/{{ svc_domain }}-tls.crt"
export NEXTCLOUD_TLS_KEY_LOCATION="{{ tls_certs_dir }}/{{ svc_domain }}-tls.key"

# Defines whether system is configured for development usage
export DEV_MODE_ENABLED=false
